{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h2>Cadastrar Produto</h2>
    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}

    <h5>Imagens do Produto</h5>
    {{ formset.management_form }}
    {% for img_form in formset %}
        {{ img_form.as_p }}
    {% endfor %}

    <button type="submit" class="btn btn-success">Salvar Produto</button>
        <a href="{% url 'listar_produtos' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}
